{% extends 'base.html' %}

{% block title %}Entrar{% endblock %}

{% load socialaccount %}

{% block content %}
    <div class="custom-signup">
        <div class="custom-signup-form">
            <h2>Entre na Biorg@nic</h2>
            <div class="custom-form">
                <form method="post">
                    {% csrf_token %}
                    <p>Permitir o vinculo com conta Google?</p>
                    <div class="custom-btns">
                        <button class="btn btn-primary" type="submit">Sim</button>
                        <a href="/accounts/login"><button class="btn btn-secondary" type="button">Não</button></a>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}


