{% extends 'base.html' %}

{% block content %}
    <div class="nav-profile">
        <div id="list-example" class="list-group nav-profile-group">
            <a class="list-group-item list-group-item-action" href="/accounts/profile/{{ user.id }}">Perfil</a>
            <a class="list-group-item list-group-item-action" href="/accounts/data/{{ user.id }}">Dados</a>
        </div>
        <div class="profile-content">
            {% block content_profile %}
            {% endblock %}
        </div>
    </div>    
{% endblock %}