{% extends 'base.html' %}

{% block content %}
    <div class="nav-profile">
        <div id="list-example" class="list-group nav-profile-group">
            <h3 class="list-group-item">
                {% if user.first_name %}
                    {{ user.first_name }}
                {% else %}
                    {{ user.username }}
                {% endif %}
            </h3>
            <a class="list-group-item list-group-item-action" href="/accounts/profile">Perfil</a>
            <a class="list-group-item list-group-item-action" href="/accounts/data/{{ user.id }}">Dados</a>
        </div>
        <div class="profile-content">
            {% block content_profile %}
            {% endblock %}
        </div>
    </div>    
{% endblock %}