{% extends 'base.html' %}

{% block title %}Entrar{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
    <div class="custom-signup">
        <div class="custom-signup-form">
            <h2>Entre na Biorg@nic</h2>
            <form method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <button class="btn btn-success" type="submit">Entrar</button>
            </form>
            <p>Ainda nao tem conta? <a href="../signup">Crie agora!</a></p>
        </div>
    </div>
{% endblock %}


