{% extends 'account/base_profile.html' %}

{% block title %} {{ block.super }} | Perfil {% endblock %}

{% block content_profile %}
    <div class="profile">

        <h2>Perfil</h2>
        
        <div class="profile-user">
            <div class="title">
                <h3>{{ user.first_name }}</h3>
                <h4> {{ user.last_name }}</h4>
            </div>
            <p>CPF/CNPJ: {{ user.cpf_cnpj }}</p>
            <p>Média de óleo utilzado por mês: {{ user.liters }}L</p>
        </div>
        
        <div class="profile-contact">
            <h5>Contato</h5>
            <p>Telefone: {{ user.phone }}</p>
            <p>
                {% if user.insta %}
                    Instagram: {{ user.insta }}
                {% else %}
                    Instagram: Não informado
                {% endif %}
            </p>
        </div>
        
        <div class="profile-address">
            <h5>Endereço</h5>
            <p>{{ user.address }} {{ user.number }} {{ user.complement }}</p>
            <p>CEP {{ user.cep }}</p>
            <p>{{ user.block }}, {{ user.city }} - {{ user.uf }}</p>
        </div>
    </div>
{% endblock %}


