/**********************/
/*     Navigation     */
/**********************/

.navbar .nav-user{
    display: flex;
    margin-left: 2em;
}

.navbar .nav-item form button{
	padding-top: 0.625rem;
	padding-bottom: 0.625rem;
	color: #042940;
	text-decoration: none;
	transition: all 0.2s ease;
    border: none;
    background-color: #D6D58E;
	font-weight: 600;
	font-size: 1.2rem;
}

/*******************/
/*     Details     */
/*******************/
.details {
    display: flex;
    gap: 50px;
    background-color: #f7f9fd;
}

.details .area-1 img{
    width: 500px;
}

.details .area-2 {
    display: flex;
    flex-direction: column;
}

.details .area-2 h2:first-of-type {
	margin-top: 1.5rem;
}

.details .area-2 h2{
    margin-bottom: 1.5rem;
}

.details .area-2 p {
	margin-bottom: 2.25rem;
}

.details .area-2 p:last-of-type {
	margin-bottom: 0;
}

.details .area-2 ul {
    color: #53575a;
    font: 400 1rem/1.625rem "Open Sans", sans-serif;
}

/**********************/
/*      Services      */
/**********************/

.services{
    display: flex;
    flex-direction: column;
    gap: 150px;
    margin: 150px 100px;
}

.services .content{
    display: flex;
    gap: 100px;
}

.services .content img{
    border-radius: 50%;
    width: 200px;
}

/**********************/
/*   signup/signin    */
/**********************/
.custom-signup{
    display: flex;
    justify-content: center;
}

.custom-signup img{
    width: 50%;
    padding: 5%;
}

.custom-signup-form h2{
    margin-bottom: 1em;
}

.custom-signup-form{
    align-items: center;
    margin: 3rem 0;
}

.custom-signup-form .custom-form{
    border: 1px solid #212529;
    box-shadow: 2px 2px 4px #21252967;
    background-color: #2125291e;
    padding: 5% 10%;
}

.custom-signup-form .custom-form .btn-custom{
    text-align: center;
    text-transform: none;
    font-weight: 400;
    padding: 11px 6px;
    font-size: 14px;
    border: 1px solid #d6d6d6;
    background-color: #fff;
    color: #3c3c3c;
    margin-bottom: 10px;
    border-radius: 20px;
    width: 100%;
}

.custom-signup-form .custom-form .btn-custom:hover{
    background-color: rgb(240, 240, 240);
    color: black;
}

.custom-signup-form .custom-form p{
    text-align: center;
}

.custom-signup-form .custom-form .custom-btns{
    display: flex;
    justify-content: space-evenly;
}

/**********************/
/*      Profile       */
/**********************/

.nav-profile{
    display: flex;
}

.nav-profile .nav-profile-group{
    width: 20%;
    border: rgba(0,0,0,.125) solid 1px;

}

.profile-content .profile{
    margin: 0 8% 8% 8%;
    width: 680px;
}

.profile-content .profile h2{
    margin: 5% 0;
}

.profile-content .profile div{
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 10px;
    padding: 2%;
    margin-bottom: 10px;
}

.profile-content .profile div h3{
    border-bottom: 1px solid rgba(0,0,0,.125);
    text-align: center;
}

.profile-content .profile div h4{
    border-bottom: 1px solid rgba(0,0,0,.125);

}

.profile-content .profile div p{
    margin: 1% 0;
}

.profile-content .data{
    margin: 0 10%;
    width: 680px;
}

.profile-content .data h2{
    margin: 5% 0;
}

.profile-content .data form{
    margin-bottom: 15%;
}

/**********************/
/*       Collect      */
/**********************/

.collect-base {
    margin: 3%;
}

.collect-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 4%;
}

.collect-lts {
    text-align: center;
}

.collect-lts .lts-number {
	margin-bottom: 1rem;
	color: #161223;
	font-weight: 600;
	font-size: 3.5rem;
	line-height: 3rem;
}

.collect-lts .lts-info {
	color: #161223;
	font-size: 0.875rem;
	line-height: 1.5rem;
}

.collect-accordion{
    margin-bottom: 2%;
}

.collect-accordion .steps div div:last-of-type{
    border-right: 1px solid black;
}

.collect-accordion .steps .step-row-1 div{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
}

.collect-accordion .steps .step-row-2 div{
    border-bottom: 1px solid black;
    border-left: 1px solid black;
}

.collect-accordion .steps div div{
    padding: 10px 0px 0px 20px;
}

.collect-accordion .steps div div img{
    width: 180px;
    height: 250px;
    display: block;
    margin: auto;
}

.collect-button{
    display: flex;
    justify-content: end;
}

.collect-area {
    padding: 2%;
    border: rgba(0,0,0,.125) solid 1px;
    border-top: none;
    border-radius: 5px;
}

.collect-card{
    margin: 0.8% 0;
}

.collect-card-link{
    text-decoration: none;
}
.collect-card-link:hover{
    text-decoration: none;
}

/**********************/
/*  Collect Details   */
/**********************/

.collect-base .card-body-collect{
    display: flex;
    justify-content: space-around;
}

.collect-base .card-body-collect .card-content-collect{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
    align-content: center;
}

.collect-base .card-body-collect .card-content-collect .card-text-first{
    display: flex;
}

.collect-base .card-body-collect .card-content-collect .card-text-first p{
    margin: 0 1.1rem;
}

.collect-base .card-footer-collect{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.collect-base .card-body-collect .card-content-collect .card-text-second{
    display: flex;
    justify-content: space-around;
    align-content: stretch;
    align-items: center;
}

.collect-base .card-body-collect .card-content-collect .card-text-second .obs{
    width: 120px;
}

/**********************/
/*       privacy      */
/**********************/
.privacy{
    margin: 80px;
}

.privacy h1{
    margin: 50px 0;
}

.cookieConsentContainer{
    z-index:999;width:350px;
    min-height:20px;
    box-sizing:border-box;
    padding:30px 30px 30px 30px;
    background:#232323;
    overflow:hidden;
    position:fixed;
    bottom:30px;
    right:30px;
    display:none;
    border-radius: 10px;
}

.cookieConsentContainer .cookieTitle {
    font-family:OpenSans,arial,sans-serif;
    color:#fff;
    font-size:22px;
    line-height:20px;
    display:block;
}

.cookieConsentContainer .cookieDesc p{
    margin:0;
    padding:0;
    font-family:OpenSans,arial,sans-serif;
    color:#fff;
    font-size:13px;
    line-height:20px;
    display:block;
    margin-top:10px;
}

.cookieConsentContainer .cookieDesc a{
    font-family:OpenSans,arial,sans-serif;
    color:#fff;
    text-decoration:underline;
}

.cookieConsentContainer .cookieButton a{
    display:inline-block;
    font-family:OpenSans,arial,sans-serif;
    font-size:14px;
    font-weight:700;
    margin-top:14px;
    box-sizing:border-box;
    border-radius: 10px;
    padding:15px 24px;
    text-align:center;
    transition:background .3s;
    background:#ffff;
}

.cookieConsentContainer .cookieButton a:hover{
    cursor:pointer;
    background:rgb(171, 171, 171);
}

@media (max-width:980px){
    .cookieConsentContainer{
        bottom:0!important;
        left:0!important;
        width:100%!important;
    }
}