{% extends 'collect/base_collect.html' %}

{% block title %}Entrar{% endblock %}

{% load crispy_forms_tags %}

{% block content_profile %}
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Reciclar</button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <form method="POST">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {% csrf_token %}
                    {{ form|crispy }}
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button class="btn btn-primary" type="submit" value="Nova Coleta">Salvar</button>
                </div>
            </form>
        </div>
        </div>
    </div>

    {% for collect in collections %}
        <h1>{{ collect.code }}</h1>
        <p>{{ collect.date }}</p>
    {% endfor %}
    
{% endblock %}


