{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="nav-content">
        <div class="content">
            {% block content_profile %}
            {% endblock %}
        </div>
        <div id="list-example" class="list-group nav-content-group">
            <h5>Está gostando? Confira nossas redes para mais conteúdos</h5>
            <span class="icons">
                <a href="#"><i class="bi bi-instagram"></i></a>
                <a href="#"><i class="bi bi-youtube"></i></a>
                <a href="#"><i class="bi bi-twitter"></i></a>
                <a href="#"><i class="bi bi-facebook"></i></a>
            </span>
            <br>
            <br>
            <h5>Categorias</h5>
            <form action="">
                <input type="radio"> Videos
                <br>
                <input type="radio"> Materias
            </form>
        </div>
    </div>    
{% endblock %}