{% extends 'base.html' %}
{% load static %}

{% block title %} {{ block.super }} | Conteúdos {% endblock %}

{% block content %}
    <div class="nav-content">
        <div class="content">
            <div class="card card-content" style="width: 50rem;">
                <div class="card-body card-body-content">
                    <h5 class="card-title">Você sabe fazer o descarte do Óleo de Cozinha corretamente? Então se liga neste vídeo!</h5>
                </div>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/1HccDJzA4fU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="card card-content" style="width: 50rem;">
                <div class="card-body card-body-content">
                    <h5 class="card-title">Óleo de cozinha e os danos ao meio ambiente</h5>
                </div>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/pgAzoOCwSE0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="card card-content" style="width: 50rem;">
                <div class="card-body card-body-content">
                    <h5 class="card-title">Como descartar Óleo de Cozinha?</h5>
                </div>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/9Zk1Jw5PAcM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>

            <div class="card card-content" style="width: 50rem;">
                <div class="card-body card-body-content">
                    <h5 class="card-title">Os riscos do óleo mal descartado: Associação Brasileira das Empresas Estaduais de Saneamento</h5>
                </div>
                <a target="_blank" href="https://aesbe.org.br/novo/o-prejuizo-do-oleo-de-cozinha-no-meio-ambiente/#:~:text=O%20descarte%20correto%20do%20%C3%B3leo,atrav%C3%A9s%20de%20organiza%C3%A7%C3%B5es%20n%C3%A3o%20governamentais.">
                    <img src="/static/images/materia.png" alt="..." style="width: 560px; height: 315px;">
                </a>
            </div>
        </div>
        <div id="list-example" class="list-group nav-content-group">
            <h5>Está gostando? Confira nossas redes para mais conteúdos</h5>
            <span class="icons">
                <a href="#"><i class="bi bi-instagram"></i></a>
                <a href="#"><i class="bi bi-youtube"></i></a>
                <a href="#"><i class="bi bi-twitter"></i></a>
                <a href="#"><i class="bi bi-facebook"></i></a>
            </span>
            <br>
            <br>
            <h5>Categorias</h5>
            <form action="">
                <input type="radio"> Videos
                <br>
                <input type="radio"> Materias
            </form>
        </div>
    </div>    
{% endblock %}