{% extends 'base.html' %}
{% load static %}

{% block content %}

    <header id="header" class="header">
        <!-- Header -->
        <div class="header-content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="h1-large">BIOrg@nic</h1>
                        <a class="btn-solid-lg" href="#introduction">Começar</a>
                    </div> <!-- end of col -->
                </div> <!-- end of row -->
            </div> <!-- end of container -->                
        </div> <!-- end of header-content -->

        <!-- Video Background -->
        <video autoplay loop muted id="video-background" poster="/static/header-background.jpg" playsinline>
            <source src="/static/images/header-background-video.mp4" type="video/mp4" />
        </video>
        <!-- end of video background -->          
        <!-- end of header -->
    </header>
    <main>        
        <!-- Introduction -->
        <div id="introduction" class="cards-1">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <h2 class="h2-heading">Conheça mais sobre nossos ideais</h2>
                        <p class="p-heading">É isso que nos conecta, um mundo sem desperdício onde
                            tudo pode ser reutilizado. Queremos ajudar a transformar
                            o mercado de gestão de resíduos a partir do uso inteligente
                            da tecnologia e de uma nova forma de fazer negócio para que
                            juntos possamos garantir a subsistência econômica, social
                            e ambiental do nosso planeta.</p>
                    </div> <!-- end of col -->
                </div> <!-- end of row -->
                <div class="row">
                    <div class="col-lg-12">
    
                        <!-- Card -->
                        <div class="card">
                            <div class="card-icon">
                                <span class="fas fa-camera"></span>
                            </div>
                            <div class="card-body">
                                <h4 class="card-title">Valores</h4>
                                <div class="card-text">Ética - Compromisso - Inovação - Trabalho em equipe</div>
                            </div>
                        </div>
                        <!-- end of card -->
    
                        <!-- Card -->
                        <div class="card">
                            <div class="card-icon">
                                <span class="fas fa-video"></span>
                            </div>
                            <div class="card-body">
                                <h4 class="card-title">Missão</h4>
                                <div class="card-text">Conectar Geradores e recicladores/ reutilizadores de resíduos para o total reaproveitamento de resíduos.</div>
                            </div>
                        </div>
                        <!-- end of card -->
    
                        <!-- Card -->
                        <div class="card">
                            <div class="card-icon">
                                <span class="fas fa-paint-brush"></span>
                            </div>
                            <div class="card-body">
                                <h4 class="card-title">Visão</h4>
                                <div class="card-text">Ser uma Startup referência na coleta seletiva de resíduos, para pessoas e empresas, criando um mundo melhor.</div>
                            </div>
                        </div>
                        <!-- end of card -->
    
                    </div> <!-- end of col -->
                </div> <!-- end of row -->
            </div> <!-- end of container -->
        </div> <!-- end of cards-1 -->
        <!-- end of introduction -->
    
            <!-- Details -->
        <div class="split">
            <div class="area-1">
            </div><!-- end of area-1 on same line and no space between comments to eliminate margin white space --><div class="area-2 bg-gray">
                <div class="container">    
                    <div class="row">
                        <div class="col-lg-12">     
                            
                            <!-- Text Container -->
                            <div class="text-container">
                                <h2>Por que escolher a BiOrganic?</h2>
                                <p>Alto benefício/custo:</p>
                                <p><strong>Coletor -</strong> Várias opções de coletas mapeadas, além de negociar diretamente com o cliente, pagando uma pequena taxa pelo uso da plataforma.</p>
                                <p><strong>Residências e Comércios  -</strong> tenha várias opções de coleta de resíduos no seu domicílio, negocie diretamente com a cooperativa/parceiro e receba um valor pela correta disposição do resíduo.</p>
                                <p><strong>Todos os usuários  -</strong> brechó do reciclador, blog do reciclador: dicas de reciclagem e reaproveitamento de resíduos, compostagem em casa, separação de resíduos e publicação de eventos.</p>
                                <p><strong>Peça pela Internet   -</strong> Preencha nosso formulário e entraremos em contato o mais rápido possível.</p>
                                <p><strong>Períodos de coleta flexíveis  -</strong> Tanto o coletor quanto o cliente poderão agendar o melhor horário para as coletas.</p>
                            </div> <!-- end of text-container -->
                            <!-- end of text container -->
    
                        </div> <!-- end of col -->
                    </div> <!-- end of row -->
                </div> <!-- end of container -->
            </div> <!-- end of area-2 -->
        </div> <!-- end of split -->
        <!-- end of details -->
    
        <!-- Services 1 -->
        <div id="services" class="basic-1">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <div class="video-container">
                            <iframe width="501" height="302" src="https://www.youtube.com/embed/t9efTDCjl_o" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div> <!-- end of image-container -->
                    </div> <!-- end of col -->
                    <div class="col-lg-5">
                        <div class="text-container">
                            <h2>Sobre a BiOrganic</h2>
                            <p>Somos uma startup, participante do InovaSan 2021, que conecta geradores de resíduos recicláveis e empresas que consomem estes resíduos. Visamos a promover, oportunizar e monetizar a correta separação dos resíduos recicláveis. Temos como premissas: a instrução do cidadão e o microempresário para a redução de desperdícios na fonte, a geração de um modelo de negócio inovador Win to Win para otimizar e monetizar a identificação, separação e coleta  de resíduos orgânicos, além da facilitação do reaproveitamento destes resíduos na cadeia de logística reversa. O modelo de negócio será hibrido: C2B, C2B2C e B2C.</p>
                            <p><a href="https://taikai.network/br/institutonissan/challenges/inovasan/projects/biorganic" target="_blank">Taikai</a></p>
                            <a class="read-more no-line green" href="/">Learn more <span class="fas fa-long-arrow-alt-right"></span></a>
                        </div> <!-- end of text-container -->
                    </div> <!-- end of col -->
                </div> <!-- end of row -->
            </div> <!-- end of container -->
        </div> <!-- end of basic-1 -->
        <!-- end of services 1 -->
    
        <!-- Services 2 -->
        <div class="basic-2">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <div class="image-container">
                            <img class="img-fluid" src="/static/images/pontos-de-coleta.png" alt="alternative">
                        </div> <!-- end of image-container -->
                    </div> <!-- end of col -->
                    <div class="col-lg-5">
                        <div class="text-container">
                            <h2>Recicladores</h2>
                            <p>Precisa encontrar novos pontos de coleta para sua empresa?
    
                                Entre em contato que encontraremos os melhores lugares para sua coleta.</p>
                            <a class="read-more no-line green" href="article.html">Learn more <span class="fas fa-long-arrow-alt-right"></span></a>
                        </div> <!-- end of text-container -->
                    </div> <!-- end of col -->
                </div> <!-- end of row -->
            </div> <!-- end of container -->
        </div> <!-- end of basic-2 -->
        <!-- end of services 2 -->
    
        <!-- Services 3 -->
        <div class="basic-3">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <div class="image-container">
                            <img class="img-fluid" src="/static/images/Residuos_Solidos.jpg" alt="alternative">
                        </div> <!-- end of image-container -->
                    </div> <!-- end of col -->
                    <div class="col-lg-5">
                        <div class="text-container">
                            <h2>Empresas</h2>
                            <p>Precisa se desfazer daquele resíduo incômodo?
    
                                Entre em contato conosco que ajudaremos com isso.</p>
                            <a class="read-more no-line green" href="/">Learn more <span class="fas fa-long-arrow-alt-right"></span></a>
                        </div> <!-- end of text-container -->
                    </div> <!-- end of col -->
                </div> <!-- end of row -->
            </div> <!-- end of container -->
        </div> <!-- end of basic-3 -->
        <!-- end of services 3 -->
    
        <!-- Statistics -->
        <div class="counter bg-gray">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        
                        <!-- Counter -->
                        <div class="counter-container">
                            <div class="counter-cell">
                                <div data-purecounter-start="0" data-purecounter-end="231" data-purecounter-duration="3" class="purecounter">1</div>
                                <div class="counter-info">Recicladores</div>
                            </div> <!-- end of counter-cell -->
                            <div class="counter-cell">
                                <div data-purecounter-start="0" data-purecounter-end="385" data-purecounter-duration="1.5" class="purecounter">1</div>
                                <div class="counter-info">Lts de oleo reciclados</div>
                            </div> <!-- end of counter-cell -->
                            <div class="counter-cell">
                                <div data-purecounter-start="0" data-purecounter-end="159" data-purecounter-duration="3" class="purecounter">1</div>
                                <div class="counter-info">Lts de água não contaminados</div>
                            </div> <!-- end of counter-cell -->
                        </div> <!-- end of counter-container -->
                        <!-- end of counter -->
    
                    </div> <!-- end of col -->
                </div> <!-- end of row -->
            </div> <!-- end of container -->
        </div> <!-- end of counter -->
        <!-- end of statistics -->
    
        <!-- Back To Top Button -->
        <button onclick="topFunction()" id="myBtn">
            <img src="/static/images/up-arrow.png" alt="alternative">
        </button>
        <!-- end of back to top button -->   
    </main>
{% endblock %}