{% extends 'base.html' %}
{% load static %}

{% block content %}

    <header id="header" class="header">
        <!-- Header -->
        <div class="header-content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="h1-large">BIOrg@nic - Joice</h1>
                        <a class="btn-solid-lg" href="#introduction">Começar</a>
                    </div> <!-- end of col -->
                </div> <!-- end of row -->
            </div> <!-- end of container -->                
        </div> <!-- end of header-content -->

        <!-- Video Background -->
        <video autoplay loop muted id="video-background" poster="/static/header-background.jpg" playsinline>
            <source src="/static/images/header-background-video.mp4" type="video/mp4" />
        </video>
        <!-- end of video background -->          
        <!-- end of header -->
    </header>
    <main>        
        <!-- Introduction -->
        <div id="introduction" class="cards-1">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <h2 class="h2-heading">Quem somos?</h2>
                        <p class="p-heading">
                            A Biorg@nic é uma iniciativa privada, com finalidades públicas, criada em 2021 e que tem como objetivo promover a reciclagem correta do óleo de cozinha usado dos lares, micro e pequenas empresas da região Sul-Fluminense; isto é possível através da conscientização, direcionamento e coparticipação de parceiros estratégicos que coletam e destinam o residual oleoso.
                            Para esta finalidade a Biorg@nic usa da tecnologia, a educação e a associação das atividades de empresas parceiras que coletam e destinam o óleo.
                        </p>
                    </div> <!-- end of col -->
                </div> <!-- end of row -->
                <div class="row">
                    <div class="col-lg-12">
    
                        <!-- Card -->
                        <div class="card">
                            <div class="card-icon">
                                <span class="fas fa-camera"></span>
                            </div>
                            <div class="card-body">
                                <h4 class="card-title">Valores</h4>
                                <div class="card-text">Cuidado pelo meio ambiente, engajamento, compromisso e sinergia</div>
                            </div>
                        </div>
                        <!-- end of card -->
    
                        <!-- Card -->
                        <div class="card">
                            <div class="card-icon">
                                <span class="fas fa-video"></span>
                            </div>
                            <div class="card-body">
                                <h4 class="card-title">Missão</h4>
                                <div class="card-text">Conectar os geradores de óleo de cozinha usado com as empresas recicladoras deste resíduo, oportunizando a reciclagem sustentável, a entrega de benefícios para todos os atores e a redução da contaminação pelo despejo inadequado do óleo.</div>
                            </div>
                        </div>
                        <!-- end of card -->
    
                        <!-- Card -->
                        <div class="card">
                            <div class="card-icon">
                                <span class="fas fa-paint-brush"></span>
                            </div>
                            <div class="card-body">
                                <h4 class="card-title">Visão</h4>
                                <div class="card-text">Ser a maior rede de facilitação da reciclagem de óleo de cozinha usado do Sul-Fluminense, conectando os geradores de óleo de cozinha usado com as empresas recicladoras deste resíduo, entregando benefícios para as partes envolvidas e reduzir o despejo inadequado do óleo.
                                    Até 2023 a Biorg@nic pretende ter oportunizado a reciclagem de 1000 litros de óleo de cozinha usados que equivalem a 1.000.000 de litros de água não contaminados
                                    </div>
                            </div>
                        </div>
                        <!-- end of card -->
    
                    </div> <!-- end of col -->
                </div> <!-- end of row -->
            </div> <!-- end of container -->
        </div> <!-- end of cards-1 -->
        <!-- end of introduction -->
    
        <!-- Details -->
        <div class="details">
            <div class="area-1">
                <img src="/static/images/Coletar-o-óleo-usado.jpg" alt="Óleos usados">
            </div>
            <div class="area-2">
                <h2>O que você ganha reciclando óleo?</h2>
                <p>Além de você não contaminar o meio ambiente, você poderá ganhar brindes das empresas parceiras da biorganic que realizam a reciclagem nos locais combinados ou no domicílio onde seja solicitada a coleta.</p>
                                
                <h2>Quem pode reciclar?</h2>
                <p>Se você é uma empresa, bar, lanchonete, casa, condomínio, etc. que coleta óleo usado em garrafas, bombonas, etc. você poderá solicitar a coleta do resíduo no local sempre que a quantia (L) de resíduo seja a mínima solicitada pela empresa parceira. A solicitação poderá ser feita através da opção (COLOCAR O NOME DA OPÇÃO DO SITE)</p>
                                
                <h2>O que a  BiOrganic ganha com todo isto</h2>
                <p>Somos uma startup social que nasceu no InovaSan 2021, o nosso principal objetivo é oportunizar a reciclagem do óleo de cozinha usado de forma SUSTENTÁVEL e aportando para a redução da contaminação do meio ambiente. As nossas premissas são:</p>
                <ul>
                    <li>Instruir o cidadão e o microempresário no processo de reciclagem de óleo de cozinha usado;</li>
                    <li>Facilitar o processo de identificação, separação e coleta de óleo de cozinha usado;</li>
                    <li>Entregar benefícios aos envolvidos neste processo de reciclagem.</li>
                </ul>
            </div>
        </div>
        <!-- end of details -->
        
        <!-- Services -->
        <div class="services">
            <div class="content">
                <img src="/static/images/Pontos-de-coleta.jpg" alt="Imagem pontos de coleta">
                <div class="text-content">
                    <h2>Empresas recicladoras</h2>
                    <ul>
                        <li>Encontre uma lista completa de pontos de coleta na cidade onde você poderá levar o seu óleo</li>
                        <li>Encontre as empresas parceiras que realizam a coleta de óleo no seu local</li>
                        <li>Encontre outras empresas que realizam a reciclagem de outros tipos de resíduos: orgânicos, metálicos, etc.</li>
                        <li>Você é reciclador?... cadastre-se e participe da rede.</li>
                    </ul>
                    <a class="read-more no-line green" href="/manun">Mais detalhes<span class="fas fa-long-arrow-alt-right"></span></a>
                </div>
            </div>

            <div class="content">
                <img src="/static/images/Coletores-de-óleo.jpg" alt="Imagem pontos de coleta">
                <div class="text-content">
                    <h2>Cadastre-se</h2>
                    <ul>
                        <li>Cadastre-se como empresa, condomínio ou casa coletora recorrente e deixe os seus dados disponíveis na nossa base para que uma das empresas coletoras entre em contato e faça a gestão do seu resíduo.</li>
                    </ul>
                    <a class="read-more no-line green" href="/manun">Mais detalhes<span class="fas fa-long-arrow-alt-right"></span></a>
                </div>
            </div>
        </div>
        <!-- end of services -->
    
        <!-- Statistics -->
        <div class="counter bg-gray">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        
                        <!-- Counter -->
                        <div class="counter-container">
                            <div class="counter-cell">
                                <div data-purecounter-start="0" data-purecounter-end="231" data-purecounter-duration="3" class="purecounter">1</div>
                                <div class="counter-info">Recicladores</div>
                            </div> <!-- end of counter-cell -->
                            <div class="counter-cell">
                                <div data-purecounter-start="0" data-purecounter-end="385" data-purecounter-duration="1.5" class="purecounter">1</div>
                                <div class="counter-info">Lts de oleo reciclados</div>
                            </div> <!-- end of counter-cell -->
                            <div class="counter-cell">
                                <div data-purecounter-start="0" data-purecounter-end="159" data-purecounter-duration="3" class="purecounter">1</div>
                                <div class="counter-info">Lts de água não contaminados</div>
                            </div> <!-- end of counter-cell -->
                        </div> <!-- end of counter-container -->
                        <!-- end of counter -->
    
                    </div> <!-- end of col -->
                </div> <!-- end of row -->
            </div> <!-- end of container -->
        </div> <!-- end of counter -->
        <!-- end of statistics -->
    
        <!-- Back To Top Button -->
        <button onclick="topFunction()" id="myBtn">
            <img src="/static/images/up-arrow.png" alt="alternative">
        </button>
        <!-- end of back to top button -->   
    </main>
{% endblock %}